---
---
<!DOCTYPE html>
<html>
<head>
    <title>INSKINVIEW 앱으로 이동</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        window.onload = function() {
            var userAgent = navigator.userAgent || navigator.vendor || window.opera;

            // iOS 또는 Mac 기기 감지
            if (/iPad|iPhone|iPod|Macintosh/i.test(userAgent) && !window.MSStream) {
                window.location.href = "https://apps.apple.com/app/id6747983661";
                return;
            }

            // 안드로이드 또는 기타 기기인 경우 Play Store로 리디렉션
            window.location.href = "https://play.google.com/store/apps/details?id=kr.co.inskinview";
        };
    </script>
</head>
<body>
</body>
</html>
